mixin news(options = {})
	-
		function shuffle(array) {
			for (let i = array.length - 1; i > 0; i--) {
				const j = Math.floor(Math.random() * (i + 1));
				[array[i], array[j]] = [array[j], array[i]];
			}
			return array;
		}
		var date = 'September 27th, 2023'
		var news = [
			'Low - and middle-income countries the targets of a new innovation partnership',
			'UN-Habitat builds urban resilience in Mozambican town',
			'Meet the 2023 UN-Habitat Scroll of Honour winners: Dubai Municipality, United Arab Emirates',
			'UN-Habitat and UNEP join hands to help officials strengthen climate resilience',
			'Meet the 2023 UN-Habitat Scroll of Honour winners: Fundo Imobiliário Comunitário para Aluguel, São Paulo, Brazil',
			'Meet the 2023 UN-Habitat Scroll of Honour winners: Fundación ProEmpleo, Mexico City, Mexico',
			'UN-Habitat and the Olympic movement getting sporty in cities',
			'Meet the 2023 UN-Habitat Scroll of Honour winners: Ecovironment, Sierra Leone',
			'Meet the 2023 UN-Habitat Scroll of Honour winners: Assembleia de Moradores, Braga, Portugal',
			'Meet our winners: portraits of the 2023 Scroll of Honour Awardees',
			'World Habitat Day 2023 to focus on resilience and recovery',
			'Urban resilience takes centre stage at Africa climate meetings',
		]
		var isSection = options.section === true
		var sectionClass = ['news-section ', options.grid ? 'news-section--grid' : false]
		var cols = options.grid ? 3 : 4
		var randomNews = shuffle(news.slice()).slice(0, cols)

	.container
		div(class=sectionClass)
			if isSection
				.section__header
					.section__title.h2= options.title
					a.section__link(href="#") see all
			.row
				if isSection
					each item, index in randomNews
						+news-content(item, index, date, options.category, options.grid, options.thumbnail)
				else
					each item, index in news
						+news-content(item, index, date, '', false, options.thumbnail)
			if !isSection
				a.show-more(href="#")
					.button.show-more__button Show more

mixin news-content(item, index, date, category, grid, thumbnail)
	- var itemClass = ['news-section__item ', thumbnail ? 'news-section__item--thumbnail' : false]
	if thumbnail
		div(class=itemClass)
			+news-inner(item, index, date, category, thumbnail)
	else
		a(class=itemClass href="#")
			+news-inner(item, index, date, category, thumbnail)

mixin news-inner(item, index, date, category, thumbnail)
	- var title = ['news-section__item-title ', thumbnail ? 'h3' : 'h4']
	if category
		.news-section__item-category= category
	if thumbnail
		.news-section__item-thumbnail(style=`background-image: url('img/photos/stories-${Math.floor(Math.random() * 12) + 1}.jpg')`)
	.news-section__item-content
		.news-section__item-date.small
			time(datetime=date)= date
		div(class=title)= item
		if thumbnail
			a.news-section__item-link.button.button_white(href="#") Learn more