mixin slider
	-
		var data = [
			{
				title: 'Reduced spatial inequality and poverty in communities across the urban-rural continuum',
				col1: 'Increased and equal access to basic services, sustainable mobility and public space',
				col2: 'Increased and secure access to land, and adequate and affordable housing',
				col3: 'Effective settlements growth and regeneration'
			},
			{
				title: 'Strengthened climate action and improved urban environment',
				col1: 'Reduced greenhouse emissions and improved air quality',
				col2: 'Improved resource efficiency and protection of ecological assets',
				col3: 'Effective adaptation of communities and infrastructure to climate change'
			},
			{
				title: 'Effective urban crises prevention and response',
				col1: 'Enhanced social integration and inclusive communities',
				col2: 'Improved living standards and inclusion of migrants, refugees, internally displaced persons and returnees through effective crisis response and recovery',
				col3: 'Enhanced resilience of the built environment and infrastructure'
			},
			{
				title: 'Enhanced shared prosperity for cities and regions',
				col1: 'Improved spatial connectivity and productivity of cities and regions',
				col2: 'Increased and equitably distributed, locally generated revenues',
				col3: 'Expanded deployment of frontier technologies and innovations for urban development',
			}
		]
	.un-slider-wrap
		.un-slider-text A new focus for UN-Habitat
		.un-slider-title.container
			.h2 Our focus
		.section.un-slider
			each item, index in data
				.un-slider__item(style=`background-image: url('./img/photos/slide-${index + 1}.webp')` title=`Photo ${index + 1}`)
					.un-slider__item-title= item.title
					.un-slider__item-footer
						.un-slider__item-subtitle outcomes
						.un-slider__item-cols
							.un-slider__item-col= item.col1
							.un-slider__item-col= item.col2
							.un-slider__item-col= item.col3